* {
    box-sizing: border-box;
}
body {
    background-image: url(https://assets.bonappetit.com/photos/5b2d3fe491add56139223a0e/5:4/w_1569,h_1255,c_limit/hea-meditation-myth.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    transition: opacity .5s;
}
h1 {
  width: 200px;
  height: 50px;
background-color: hsl(95, 89%, 93%);
border: none;
box-shadow: 0 0 20px 0 rgb(253, 229, 213);
border-radius: 20px;
font-family: 'Orbitron', sans-serif;
font-size: 25px;
color:hsl(198, 64%, 33%);
}

.popUpInner {
  height: 700px;
  width: 1150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px 0 rgb(253, 229, 213);
  border-radius: 20px;
  
}

button {
  width: 125px;
  height: 65px;
background-color: hsl(95, 89%, 93%);
border: none;
margin-top: 35px;
box-shadow: 0 0 20px 0 rgb(197, 234, 248);
border-radius: 20px;
font-family: 'Orbitron', sans-serif;
font-size: 25px;
color:hsl(198, 64%, 33%);
outline: 0 none;
}
.popUp {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 350ms;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  opacity: 0;
  pointer-events: none;
}
.popUp.active {
  opacity: 1;
  pointer-events: auto;
}
.startPopUp {
  background-image: url(https://assets.bonappetit.com/photos/5b2d3fe491add56139223a0e/5:4/w_1569,h_1255,c_limit/hea-meditation-myth.gif);

}
.white {
  height: 700px;
  width: 1150px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
.win {
  background-image: url(https://cdn.dribbble.com/users/1610613/screenshots/3625500/dribble.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
.youWin {
  width: 350px;
  height: 70px;
  text-align: center;
background-image: url(https://assets.bonappetit.com/photos/5b2d3fe491add56139223a0e/5:4/w_1569,h_1255,c_limit/hea-meditation-myth.gif);
background-repeat: no-repeat;
  background-size: cover;
border: none;
box-shadow: 0 0 20px 0 rgb(200, 245, 206);
border-radius: 20px;
font-family: 'Orbitron', sans-serif;
font-size: 50px;
color:hsl(192, 49%, 67%);
display: flex;
justify-content: center;
}
.play-again{
margin-top: 350px;
width: 200px;

}
h1 {
  text-align: center;
  
}
.surferST {
  height: 350px;
  margin: 150px 50px 0 0;
  
}
.starterButton {
 display: flex;
 align-items: center;
  justify-content: center;
}
.arrows {
  height: 80px;
  width: 110px;
  margin-bottom: 20px;
}


.description {
  width: 540px;
  height: 600px;
  text-align: center;
  padding: 80px;
  background-color: rgb(255, 228, 198);
  box-shadow: 0 0 20px 0 rgb(233, 241, 252);
  border-radius: 20px;
 color:hsl(198, 64%, 33%);
 line-height: 1.4;
 font-family: 'Orbitron', sans-serif;
}
.gameOver {
  background-image: url(https://assets.bonappetit.com/photos/5b2d3fe491add56139223a0e/5:4/w_1569,h_1255,c_limit/hea-meditation-myth.gif);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.gameOverGif {
  box-shadow: 0 0 20px 0 rgb(252, 220, 210);
  border-radius: 20px;
  height: 250px;
  margin-top: 50px;
 
}
.start.restart {
  width: 190px;
  height: 65px;
background-color: hsl(95, 89%, 93%);
border: none;
box-shadow: 0 0 20px 0 rgb(253, 224, 204);
border-radius: 20px;
font-family: 'Orbitron', sans-serif;
font-size: 25px;
color:hsl(198, 64%, 33%);
margin-bottom: 160px;
}

.game-board {
    width: 1210px;
    margin: 50px 40px 0;
   z-index: 10;
   box-shadow: 0 0 20px 0 rgb(255, 199, 199);
   border-radius: 10px;
   overflow: hidden;
 
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 1210px;
    background-color: bisque;
    
    
}
.cell {
    /* border: 1px solid;  */
    display: flex;
    align-items: center;
    width: 110px;
    height: 90px;
   justify-content: center;
    flex-direction: column;
}


.first-row {
    background-image: url(https://media.istockphoto.com/vectors/summer-beach-vacation-concept-background-vector-id480349172?k=20&m=480349172&s=612x612&w=0&h=WjZuLL07Ct4hScXJShmVfQTBWwJUmsipFd4Qvn8QTpw=);
    background-repeat: no-repeat;
    background-size: cover;
}
.second-row {
    background-image: url(/floor.png);
    background-repeat: no-repeat;
    background-size: cover;
   
  
}
.coconut {
    background: url(/coconut-tree-png.webp) no-repeat center, url(floor.png);
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: center;
   
}
.third-row {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(56, 100%, 88%);
   
}
.seagull {
    background-image: url(/seagull.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
 
}
 .forth-row {
   /* background-image: url(https://thumbs.gfycat.com/HandyHelplessGiraffe-size_restricted.gif); */
   background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(198, 84%, 88%);
   
 }
 .bridge {
  background-image: url(/bridge.png);
  background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
 }
 .fifth-row {

  background-color: hsl(0, 0%, 90%);
   
 }
 .truck {
 background-image: url(/campervan.png);
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
 }
 .sixth-row {
  background-color: hsl(119, 100%, 90%);
 }
 .coconut-t {
    background: url(/coconut-tree-png.webp);
    background-color: hsl(119, 100%, 90%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
 }
 .car {
    background-image: url(/car.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
 }
 .seventh-row {
    background-color: hsl(0, 0%, 90%);
 }

 .eighth-row {
    background-color: hsl(119, 100%, 90%);
 }
.baller {
    background-image: url(/baller.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.surfer {
height: 100%;
}

@keyframes fontbulger {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.3)
  }
  100% {
    transform: scale(1)
  }
}

.youWin {
   animation: fontbulger 2s infinite;
}



@keyframes fontbulger {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.3)
  }
  100% {
    transform: scale(1)
  }
}

Button {
   animation: fontbulger 2s infinite;
}